<h1 class = "text-center">XÁC NHẬN ĐƠN HÀNG</h1>
<p class ="confirm" >ĐỊA CHỈ GIAO HÀNG</p><br><br>
<p class="confirm" style="display: flex;">
    <span class="store-name" >TÊN CỬA HÀNG</span>
    <span class="branch-name"style="flex-grow: 1;" >TÊN CHI NHÁNH</span>
</p>
<p class="confirm"style="display: flex;" >
    <span class="store-name" >TÊN MÓN</span>
    <span class="name"style="flex-grow: 1;">SỐ LƯỢNG</span>

</p>
<p class="confirm"style="display: flex;" >
    <span class="branch"style="flex-grow: 1;">SỐ LƯỢNG</span>
    {{!-- SHOW TỪ DATABASE --}}
</p>
<hr class ="hori" >

<p class ="confirm" >PHÍ MÓN ĂN</p>
{{!-- SHOW BIỂU THỨC --}}
<p class ="confirm" >PHÍ GIAO HÀNG</p>
<hr class="line" >
<p class ="confirm" >TỔNG CỘNG</p>
<hr class ="hori" >
<p class ="confirm" >PHƯƠNG THỨC THANH TOÁN</p><br><br>
{{!-- SHOW HA, HÌNH THỨC THANH TOÁN --}}
<button class="button" type="button" style="background-color: #ffdad7;border:#000000"  >
    ĐẶT HÀNG
</button>

</body>