<head>
    <h1 class = "text-center">ĐẶT HÀNG</h1>
    <h4 class = "text-center">TÊN CỬA HÀNG</h4>
    <h4 class = "text-center">TÊN CHI NHÁNH</h4>
</head>
<body>
    <div class="number">
        <p>SỐ LƯỢNG</p>
        <input type="number" id="tentacles" name="tentacles" style="background-color: #f2ebeb;border:#000000" 
             min="1" max="100">

    </div>
        <button class="center-button" type="button" style="background-color: #ffdad7;border:#000000"  >
               ĐẶT HÀNG
            </button>
</body>