
<head>
  
    <h1 class = "text-center">PHƯƠNG THỨC THANH TOÁN</h1>
    <h4 class = "text-center">CHỌN MỘT PHƯƠNG THỨC THANH TOÁN:</h4>
</head>
<body>
    <form class = "payment">
      <p>
        <img class="payment-image" src="/public/img/image5.png" alt="Ảnh thanh toán" />
        <input type="radio" value="Tiền mặt" />
        <label class="radio-label" for="r1"><span></span>Tiền mặt</label>
      </p>
      <p>
        <img class="payment-image" src="/public/img/image1.png" alt="Ảnh thanh toán" />
        <input type="radio" value="ZaloPay" />
        <label class="radio-label" for="r1"><span></span>ZaloPay</label>
      </p>
      <p >
        <img class="payment-image" src="/public/img/image2.png" alt="Ảnh thanh toán" />
        <input type="radio" value="Momo" />
        <label class="radio-label" for="r1"><span></span>Momo</label>
      </p>
      <p>
        <img class="payment-image" src="/public/img/image3.png" alt="Ảnh thanh toán" />
        <input type="radio" value="VNPay" />
        <label class="radio-label" for="r1"><span></span>VNPay</label>
      </p>
    </form>
    <div class="pass">
        <h5>NHẬP MẬT KHẨU ĐỂ XÁC NHẬN</h5>
        <input type="password" name="" value="" />
        <button type="button" style="height: 35px; width: 100px; background-color: #ffdad7;border:#000000">TIẾP TỤC</button>
    </div>

</body>
