{{#section 'css'}}
    <link rel="stylesheet" href="/public/CSS/doitac.css">

{{/section}}


<head>
    <style>
        #hero{

            background-image: url("./public/img/logo.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 30px;
            width: 30px;
            /*padding: 200px 400px 200px 400px;*/
        }


        .container{
            position: absolute;
            top: 100px;
            left: 500px;
        }
        .form-control{
            background: #FCFCFC;
            border: 1px solid #F3F3F3;
            border-radius: 8px;


            width: 100%;
            height: 40px;


            font-style: normal;
            font-weight:300;
            color: #6B6C6E;
            font-size: 14px;
            line-height: 15px;
            /* identical to box height, or 150% */


        }

        .btn-login {

            border: 1px solid #FFDAD7;
            border-radius: 8px;
            letter-spacing: 0.05rem;
            padding: 0.6rem 1rem;
            color: black;
            background-color: #FFDAD7;

            font-style: normal;
            font-weight: 400;

        }

        .btn-login:hover{
            border: 1px solid #FF9F9F;
            border-radius: 8px;
            letter-spacing: 0.05rem;
            padding: 0.6rem 1rem;
            color: black;
            background-color: #FF9F9F;

            font-style: normal;
            font-weight: 400;
        }
    </style>
</head>
<!--<div>-->
<!--    <section id="hero_admin">-->
<!--        <h2>Sign in</h2>-->
<!--    </section>-->
<!--    -->
<!--    -->
<!--</div>-->

<!-- Section: Design Block -->
<body>
<section id="hero">
    <div class="container ">
        <div class="row justify-content-end">
            <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h3 class="card-title text-center mb-3 fw-light fs-5">Sign In</h3>
                        <h4 class="card-title text-center mb-5  fs-3" style="color: #333745; font-weight: lighter; font-size: 14px">Fill in your credentials and click on the the Sign in button
                        </h4>
                        <form method="POST">
                            <div class="form-floating mb-3 ">
                                <label for="floatingUsername"  class="font-weight-bold">Username</label>
                                <input type="text" class="form-control" id="floatingUsername"  placeholder="Your username">
                            </div>
                            <div class="form-floating mb-3">
                                <label for="floatingPassword"  class="font-weight-bold">Password</label>
                                <input type="password" class="form-control" id="floatingPassword"  placeholder="Your password">
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6 d-flex "  >
                                    <!-- Checkbox -->
                                    <div class="form-check mb-3 mb-md-0" style="font-size: 13px;">
                                        <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                                        <label class="form-check-label" for="loginCheck" > Remember me </label>
                                    </div>
                                </div>

                                <div class="col-md-6 d-flex justify-content-end" style="font-size: 10px; text-align: right;">
                                    <!-- Simple link -->
                                    <a href="#">Forgot password?</a>
                                </div>
                            </div>
                            <div class="form-floating mb-6 " >
                                <button class="btn btn-primary btn-login fw-bold w-100 font-weight-bold" type="submit">
                                    Sign
                                    in</button>
                            </div>

                            <div class="text-center mb-6" style="font-size: 13px;" >
                                <p>Don’t have an account? <a href="signup.hbs">Sign up</a></p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

<script>

</script>