{{#section 'css'}}
    <link rel="stylesheet" href="/public/CSS/style.css">

{{/section}}

<section id="hero">
    <img src="public/img/logo.png" alt="Image Description" class="hero-image">
    <div class="hero-content">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>

    <h1>On all product</h1>

    <p>Save more with coupons & up to 50% off!</p>

    <button class="Shopnow">Shop Now</button>
    </div>
</section>

