<!DOCTYPE html>
<html>
<head>
    <title>Danh sách nhân viên</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            text-align: center;
        }

        th, td {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        .add-btn, .edit-btn, .delete-btn {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }

        .add-btn:hover, .edit-btn:hover, .delete-btn:hover {
            background-color: #3e8e41;
        }
        .container {
            padding-top: 100px;
        }

        h2 {
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<section class="container">
    <h2>Nhân Viên</h2>


    <button class="add-btn">Thêm</button>
    <button class="delete-btn">Xóa </button>
    <button class="edit-btn">Sửa </button>
</section>
</body>
</html>
