<!doctype html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/CSS/doitac.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    {{{_section.css}}}
</head>
<body>

<div id="header" >
    <a ><img src="/public/img/logo.png" class="logo" alt="" style="height: 70px; width: 90px;">
        <b>HOMEMADE</b>
    </a>
    <div >
        <ul id="navbar" class="nav nav-pills">
            <li><a  href="/doitac/home">Trang chủ</a></li>
            <li><a  href="/doitac/dangkyhopdong">Hợp đồng</a></li>
            <li><a  href="/doitac/thongtincanhan">Thông tin cá nhân</a></li>
            <li><a  href="/doitac/chinhanh">Chi nhánh</a></li>
            <li><a href="/doitac/thucdon">Thực đơn</a></li>
            <li><a href="/doitac/doanhthu">Doanh thu</a></li>
            <li><a href="/account/logout">Đăng xuất</a></li>

        </ul>

    </div>

</div>


{{{body}}}

<script src="script.js"></script>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>